@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --ifm-color-primary: #1a84b2;
  --ifm-color-primary-dark: #d69722;
  --ifm-color-primary-darker: #996a13;
  --ifm-color-primary-darkest: #67470b;
  --ifm-color-primary-light: #90cde8;
  --ifm-color-primary-lighter: #b9dae9;
  --ifm-color-primary-lightest: #cbe2ed;
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 16px;
}

html[data-theme="dark"] {
  --ifm-navbar-background-color: #000;
  --ifm-color-primary: #d69722;
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
}
.navbar--dark {
  --ifm-navbar-background-color: #000000;
}

:root {
  --ifm-font-family-base: "Poppins";
}

article {
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --ifm-global-shadow-md: 0px;
}

@media (min-width: 1416px) {
  .main-wrapper {
    align-self: center;
    max-width: 1400px;
    width: 1400px;
  }
}
