{% assign code = include.code %}
{% assign image = include.image %}
{% assign alt = include.alt %}
{% assign video = include.video %}
{% assign isPairClass = "" %}
{% if include.isEven == 0 %}
{% assign isPairClass = "pair" %}
{% endif %}
<div class="section half {{isPairClass}}">
    {% if include.isEven == 0 %}
    {% include code_or_image.html code=code image=image video=video alt=alt %}
    {% endif %}
    <div class="info">
        <h1>{{include.title}}</h1>
        <p>
            {{include.description}}
        </p>
    </div>
    {% if include.isEven == 1 %}
    {% include code_or_image.html code=code image=image video=video alt=alt %}
    {% endif %}
</div>