---
---

@import "dracula.css";

$space-cadet: #2d3046ff;
$pullman-brown-ups-brown: #533b0fff;
$aero: #79c0e8ff;
$dark-sienna: #27110aff;
$persian-orange: #ea9451ff;
$eerie-black: #222221ff;
$umber: #6c5d4fff;
$gray: #828282ff;
$desert-sand: rgb(177, 61, 2);
$beaver: #a58877ff;
$jet: #2c2c2aff;
$eerie-black: #141b1dff;
$charleston-green: #121d21ff;
$eerie-black-2: #201f1dff;
$rich-black-fogra-29: #141b1fff;

$title-color: #1a84b2;
$secondary-title-color: #d69722;

$font: "Poppins";
$background-color: rgb(0, 0, 0);

@keyframes gradient-rotate {
  to {
    background-position: center 100%;
  }
}

body {
  background: $background-color;
  color: white;
  font-family: sans-serif;
}
div.topbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div.social-buttons {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}
div.header {
  margin-top: 44px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  text-align: center;
  h2 {
    font-size: 70px;
    line-height: 1;
  }
}
p.subtitle {
  margin: 0px;
  padding: 0px;
}
div.content {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;

  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
  font-weight: 600;
}
p {
  font-family: $font;
  font-weight: 600;
}
.row {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  &.eight {
    column-gap: 8px;
  }
}
h1 {
  font-size: 42px;
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 38px;
  background: -webkit-linear-gradient(
    45deg,
    $title-color,
    lighten($title-color, 30%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.claim {
  font-family: $font;
  font-size: 18px;
  font-weight: normal;
  max-width: 500px;
  text-align: center;
}
video {
  height: 200px;
}
div.section {
  display: flex;
  margin: 40px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
  align-items: center;
  border-radius: 20px;
  max-width: 1050px;
  align-items: center;
  column-gap: 40px;
}
div.section img,
div.section video {
  max-width: 450px;
  height: auto;
  border-radius: 6px;
}
div.section .info {
  flex-direction: column;
  max-width: 450px;
}
div.section .info h1 {
  margin: 0;
  font-size: 44px;
  line-height: 1.3;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(
    90deg,
    $secondary-title-color,
    lighten($secondary-title-color, 30%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
div.section .info p {
  font-family: $font;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
}
div.section a {
  font-weight: bold;
  color: #d69722;
  margin-top: 10px;
  display: block;
}
div.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black {
  background-color: #151516;
}

.highlight pre {
  padding: 20px 40px;
}

pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 16px;
  font-weight: 100;
}
.section.half {
  column-gap: 60px;
  align-items: start;
  h1 {
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  div {
    flex-grow: 1;
  }
  h2 {
    font-size: 23px;
    flex-shrink: 0;
  }
}
.progress {
  animation: progressBar 2s ease-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: var(--c);
  }
}

.highlight {
  border-radius: 20px;
}
.column {
  flex-direction: column;
}
.full {
  width: 100%;
}
.section p {
  font-size: 18px;
}
.row.center {
  align-items: center;
}
.row.end {
  align-items: flex-end;
}
.gray {
  .bar {
    background: -webkit-linear-gradient(0deg, $gray, lighten($gray, 30%));
  }
  h2 {
    background: -webkit-linear-gradient(0deg, $gray, lighten($gray, 30%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
h3.gray {
  color: $gray;
}
.column {
  display: flex;
  flex-direction: column;
}
.bar {
  text-align: center;
  background: -webkit-linear-gradient(
    0deg,
    $title-color,
    lighten($title-color, 30%)
  );
  height: 10px;
  display: block;
  border-radius: 5px;
  &.thirty-seven {
    --c: 37%;
  }
  &.fifty-seven {
    --c: 57%;
  }
  &.zero-seventy-five {
    --c: 0.48%;
  }
  &.twelve-five {
    --c: 10%;
  }
  &.fifty-four {
    --c: 80%;
  }
  &.fifty {
    --c: 50%;
  }
  &.one {
    --c: 1%;
  }
  &.twenty {
    --c: 20%;
  }
  &.ten {
    --c: 10%;
  }
  &.hundred {
    --c: 100%;
  }
}
h2.metric-explanation {
  font-size: 30px;
  text-align: center;
}
.metric-section {
  margin-bottom: 20px;
}
.graph {
  .row {
    column-gap: 10px;
    h3 {
      margin-bottom: 0;
    }
  }
  h2 {
    margin-bottom: -10px;
    font-size: 18px;
    font-weight: normal;
  }
}
p.note {
  font-size: 13px;
}
a.button {
  &.primary {
    background: $secondary-title-color;
  }
  &.secondary {
    background: $title-color;
  }
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 22px;
  color: white;
  display: block;
  margin: 20px 0px;
}
div.section.fullwidth {
  flex-direction: column;
  flex-grow: 1;
  .highlight {
    width: 100%;
  }
  .info {
    text-align: center;
  }
}
div.section.casestudy {
  margin: 200px 0px;
  padding: 40px;
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(
    0deg,
    $secondary-title-color,
    lighten($secondary-title-color, 30%)
  );
  a.button {
    color: white;
    display: inline-block;
  }
  column-gap: 10px;
  div.info {
    max-width: 570px;
    padding: 40px 0px;
    h2 {
      background: -webkit-linear-gradient(0deg, #000, #111);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      span.shopify {
        background: -webkit-linear-gradient(0deg, #5e8e3e, darken(#5e8e3e, 0%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  a {
    color: #5e8e3e;
    font-weight: bold;
    font-size: 20px;
  }
  img {
    position: absolute;
    right: 40px;
    width: 350px;
  }
}

#footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    270deg,
    $title-color,
    lighten($title-color, 15%)
  );
  height: 200px;
  img {
    height: auto;
  }
  #shopifylogo {
    width: 200px;
    height: auto;
  }
}
p.subtitle {
  font-size: 50px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  body {
    margin: 0px;
  }
  div.header {
    h2 {
      font-size: 60px;
    }
  }
  div.content {
    padding: 4%;
    width: 92%;
  }
  div.section {
    flex-direction: column;
    margin: 8px;
    align-content: center;
    padding: 0px;
    .info {
      margin: 16px;
      h1 {
        font-size: 33px;
      }
      p {
        font-size: 16px;
      }
    }
    &.half {
      align-content: center;
    }
    &.casestudy {
      flex-direction: column;
      padding: 0px;
      img {
        position: relative;
        margin: 0 auto;
        right: 0;
      }
    }
    img {
      margin: 20px;
      max-width: 95%;
    }
    video {
      margin: 20px;
      max-width: 80%;
    }
  }
  .highlight {
    pre {
      padding: 8px;
    }
    padding: 8px;
  }
  pre {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  p.subtitle {
    margin: 0;
    font-size: 20px;
  }

  .metric-section {
    margin-bottom: 60px;
  }
  .section.pair {
    flex-direction: column-reverse;
  }
}
