name: Deploy website
on:
  push:
    branches:
      - main

env:
  RUBY_VERSION: 3.0.3
  NODE_VERSION: 20.4.0

jobs:
  release:
    name: Deploy website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Install dependencies
        run: yarn
      - name: Install website dependencies
        run: |
          sudo gem install bundler
          cd website
          sudo bundle install
      - name: Publish website and docs
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          yarn deploy:website -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
