name: website

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUBY_VERSION: 3.0.3
  NODE_VERSION: 20.4.0

jobs:
  build-documentation:
    name: "Build documentation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: |
          cd documentation
          yarn
          yarn build
