name: website

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUBY_VERSION: 3.0.3
  NODE_VERSION: 20.4.0

jobs:
  build-documentation:
    name: "Build documentation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: |
          cd documentation
          yarn
          yarn build
